<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.migo.locateme.android" android:versionCode="4"
	android:versionName="2.0">
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	
	
	<application android:label="@string/app_name" android:icon="@drawable/icon">
		
		<uses-library android:name="com.google.android.maps" />
        <uses-library android:name="android.test.runner" />

		<activity android:name=".actions.LocationSelector" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".LocateMe">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_ENABLE" />
				<action android:name="android.appwidget.action.APPWIDGET_DISABLE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_info" />
		</receiver>
		<service android:name=".LocateMeService" />
		
        <activity android:name=".preferences.LocateMePreferences">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

		<activity android:name=".actions.ActionChoice" />
		<activity android:name=".actions.AddLocation" />
		<activity android:name=".actions.ShareLocation" />
		<activity android:name=".actions.SaveLocation" />

	</application>

	<uses-sdk android:minSdkVersion="3" />
</manifest> 